<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="index.css">
</head>
<body>
	<div class="parent">
	  <div class="child">
	  	DEMO
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent2">
	  <div class="child2">
	  	DEMO2
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent3">
	  <div class="child3">
	  	DEMO3
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent4">
	  <div class="child4">
	  	DEMO4
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent5">
	  <div class="child5">
	  	DEMO5
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent51">
	  <div class="child51">
	  	DEMO51
	  </div>
	</div>


	<div class="divider"></div>

	<div class="parent6">
	  <div class="child6">
	  	DEMO6
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent7">
	  <div class="child7">
	  	DEMO7
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent8">
	  <div class="child8">
	  	DEMO8
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent9">
	  <div class="child9">
	  	DEMO9
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent10">
	  <div class="child10">
	  	DEMO10
	  </div>
	</div>

	<div class="divider"></div>

	<div class="parent11">
	  <div class="child11">
	  	DEMO11
	  </div>
	</div>

</body>
</html>